@model List<TravelGroupProject.Models.Hotel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Search Hotels</h2>
<hr />

<form asp-action="SearchHotels" method="POST">
    <div class="row">
        <div class="col-md-4">
            <label>City</label>
            <select name="city" class="form-select">
                @foreach (var c in ViewBag.CityList)
                {
                    <option>@c</option>
                }
            </select>
        </div>

        <div class="col-md-4">
            <label>State</label>
            <select name="state" class="form-select">
                @foreach (var s in ViewBag.StateList)
                {
                    <option>@s</option>
                }
            </select>
        </div>

        <div class="col-md-4">
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary w-100">Search</button>
        </div>
    </div>
</form>

<br />

@if (ViewData["Message"] != null)
{
    <p class="text-danger">@ViewData["Message"]</p>
}

@if (Model.Count > 0)
{
    <table class="table table-bordered text-center">
        <thead class="table-dark">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var h in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Content("~/" + h.ImageURL.TrimStart('/'))"
                             width="120"
                             height="80"
                             style="object-fit:cover;" />
                    </td>
                    <td>@h.Name</td>
                    <td>@h.City</td>
                    <td>@h.State</td>

                    <td class="text-center">

                        <a class="btn btn-sm btn-secondary me-2"
                           asp-action="Details"
                           asp-route-id="@h.HotelID">
                            More Info
                        </a>

                        <a asp-controller="Rooms"
                           asp-action="RentalPrompt"
                           asp-route-hotelId="@h.HotelID"
                           asp-route-hotelName="@h.Name"
                           asp-route-city="@h.City"
                           asp-route-state="@h.State"
                           class="btn btn-primary">View Rooms</a>



                    </td>
                </tr>
            }
        </tbody>
    </table>
}
